body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.fixed {
    position: fixed;
    width: 100%;
}

.bottom {
    bottom: 0;
}

a {
    text-decoration: none;
    color: #2f2cfc;
}

a:hover {
    text-decoration: underline;
}

header a:hover {
    text-decoration: none;
    border-bottom: dashed black 1px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0 20px;
}

h1 a {
    color: black;
}

.up:after {
    font-family: "Material Icons";
    content: "keyboard_arrow_up";
    vertical-align: inherit;
    font-size: 18px;
}

.down:after {
    font-family: "Material Icons";
    content: "keyboard_arrow_down";
    vertical-align: inherit;
    font-size: 18px;
}

tbody a {
    color: inherit;
}

tbody a:hover {
    text-decoration: underline overline;
}

.router {
    position: relative;
    margin-bottom: 75px;
}

.itus {
  margin: 20px;
}

.itus span {
    margin: 8px 10px;
}

.message {
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
}

.message>div {
    width: 100%;
}

.table {
    border-spacing: 1px;
    margin: auto;
}

.table td {
    padding: 3px;
}

.table td input {
    display: block;
    width: 100%;
}

.table>thead {
    background: #2D74B5;
    color: #fff;
}

.table>thead td {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.even {
    background: #4895DC;
}

.odd {
    background: #4DA3F2;
}

.table>tbody>tr:hover {
    background: #FFFF21;
}

.table>tbody td {
    font-size: 14px;
}

.table>tbody td img {
    vertical-align: middle;
    margin: 0 2px;
}

.rds {
    font-family: monospace;
    font-weight: bold;
}

.table input {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid white;
}

.table input::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}

ng-map, #transmap {
    max-width: 960px;
    height: 480px;
    margin: 10px auto;
}

#station, #transmitter {
    display: inline-block;
}

#transmitter input {
    width: 15em;
}

.chart {
    padding: 10px;
}

.chart>div {
    text-align: right;
    background: #F0EDBB;
    margin-bottom: 1px;
    font-size: 12px;
    padding-right: 5px;
}

.player {
    position: fixed;
    bottom: 0;
    background: #F0EDBB;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
    -webkit-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.75);
}

main {
    padding-bottom: 64px;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

.hint {
    position: absolute;
    left: 5px;
    right: auto;
    bottom: -14px;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}
