<!-- views/head.ejs -->

<meta charset="UTF-8">
<title>ejs test</title>

<!-- CSS (load bootstrap from a CDN) -->
<meta name="viewport" content="width=device-width initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/ng-table.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/angular.js"></script>
