<div ng-if="messages.error" role="alert" class="message text-danger">
    <div>{{messages.error}}</div>
</div>
<div ng-if="messages.success" role="alert" class="message text-success">
    <div>{{messages.success}}</div>
</div>

<form ng-if="!messages.success" class="addlog" ng-submit="sendForm()" name="logData">
    <input type="number" placeholder="Frequency" style="width: 7em;" step="0.01" ng-model="formData.stations.freq" required>
    <select value="h" ng-model="formData.stations.pol">
      <option>h</option>
      <option>v</option>
      <option>m</option>
      <option>c</option>
    </select>
    <input type="text" id="station" placeholder="Station" ng-model="formData.stations.station">
    <input type="text" id="transmitter" placeholder="Transmitter" ng-model="formData.transmitter">
    <input type="text" placeholder="ITU" style="width: 3em;" title="Country code" ng-model="formData.itu">
    <input type="number" placeholder="Lat" step="0.00000001" ng-model="formData.lat">
    <input type="number" placeholder="Long" step="0.00000001" ng-model="formData.lon">
    <input type="text" placeholder="PS" style="width:6em;" ng-model="formData.stations.ps" maxlength="8">
    <input type="text" placeholder="PI" style="width:3em;" ng-model="formData.stations.pi" maxlength="4">
    <input type="number" placeholder="Pmax" style="width:4em;" step="0.01" ng-model="formData.stations.pmax">
    <input type="number" placeholder="QRB" style="width:4em;" ng-model="formData.qrb">
    <input type="date" ng-model="formData.stations.firstLog">
    <select ng-model="formData.stations.mode">
      <option>ducting</option>
      <option>scatter</option>
      <option>scttr/duct</option>
      <option>regular</option>
      <option>semi-loc</option>
      <option>local</option>
    </select>
		<input type="text" placeholder="Notes" ng-model="formData.stations.comment">
		<input type="file" ngf-select ng-model="file" name="file" accept="audio/*">
		<div ng-click="log()">
			LOG
		</div>
		<audio controls ngf-src="file"></audio>
    <input type="submit">
</form>
