<md-content class="md-no-momentum">
    <div layout="column" layout-align="center center">
        <div ng-if="messages.error" role="alert" class="text-danger">
            <div ng-repeat="error in messages.error">{{error.msg}}</div>
        </div>

        <h4>Log In</h4>

        <form ng-submit="login()">
            <md-input-container class="md-icon-float md-block">
              <label>Email</label>
              <md-icon class="material-icons">mail</md-icon>
              <input type="email" name="email" id="email" ng-model="user.email" autofocus>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
              <label>Password</label>
              <md-icon class="material-icons">lock</md-icon>
              <input type="password" name="password" id="password" ng-model="user.password">
            </md-input-container>
            <p><a href="/forgot">Forgot your password?</a></p>
            <md-button class="md-raised md-primary" type="submit">Log in</md-button>
        </form>

        <hr>

    </div>
</md-content>
