<header ng-if="state.current.name == 'index'" layout="column" layout-align="start center">
    <div class="itus" layout="row" layout-wrap>
        <span ng-repeat="itu in itus">
            <a href="/country/{{itu._id}}">
                <i class="flag {{itu._id | lowercase}}"></i>
                <b>{{itu._id}}</b>:
                {{itu.count}}</a>
        </span>
    </div>

    <p>
        <b>Received stations:
        </b>{{total}}
    </p>

    <p>
        <a href="/stats">Frequency statistics</a>
    </p>
</header>

<h2 class="center" ng-if="state.current.name != 'index'">
    <i ng-if="state.current.name == 'country'" class="flag {{itu | lowercase}}"></i>
    {{title}}
</h2>

<ng-map ng-if="state.current.name != 'index'" zoom="5" zoom-to-include-markers="auto" disable-default-u-i="true" disable-double-click-zoom="true" draggable="false" zoom-control="false" map-type-id="TERRAIN" default-style="false" scrollwheel="false" center="{{rx}}">
    <marker ng-repeat="transmitter in transmitters" position="{{transmitter.lat}}, {{transmitter.lon}}" title="{{transmitter.transmitter}}" icon="{url:'tx.png', anchor: [16,28]}" on-click="mapClick({{transmitter}})"></marker>
    <shape ng-repeat="transmitter in transmitters" name="polyline" path="[{{rx}}, {{[transmitter.lat, transmitter.lon]}}]" geodesic="true" stroke-color="#FF0000" stroke-opacity="0.33" stroke-weight="3"></shape>
    <marker position="{{rx}}" title="RX" icon="{url:'rx.png', anchor: [16,28]}"></marker>
</ng-map>

<md-progress-circular ng-if="!stations" md-mode="indeterminate"></md-progress-circular>

<table ng-if="windowWidth >= 640" class="table">
    <thead>
        <tr>
            <td ng-if="isAuthenticated()"></td>
            <td ng-class="{up: col == 'freq', down: col == 'freq' && reverse}" ng-click="order('freq')">Freq</td>
            <td ng-class="{up: col == 'station', down: col == 'station' && reverse}" ng-click="order('station')">Station</td>
            <td ng-if="state.current.name != 'transmitter'" ng-class="{up: col[0] == 'itu', down: col[0] == 'itu' && reverse}" ng-click="order(['itu', 'site'])">ITU / Location</td>
            <td hide-xs ng-class="{up: col == 'ps', down: col == 'ps' && reverse}" ng-click="order('ps')">PS</td>
            <td hide-xs ng-class="{up: col == 'pi', down: col == 'pi' && reverse}" ng-click="order('pi')">PI</td>
            <td hide-xs ng-class="{up: col == 'pmax', down: col == 'pmax' && reverse}" ng-click="order('pmax')">Pmax</td>
            <td ng-if="state.current.name != 'transmitter'" ng-class="{up: col == 'qrb', down: col == 'qrb' && reverse}" ng-click="order('qrb')">QRB</td>
            <td ng-class="{up: col == 'firstLog', down: col == 'firstLog' && reverse}" ng-click="order('firstLog')">1st Log</td>
            <td ng-class="{up: col == 'mode', down: col == 'mode' && reverse}" ng-click="order('mode')">Mode</td>
            <td></td>
        </tr>
    </thead>
    <tr ng-repeat="item in stations | orderBy:col:reverse" ng-class="color(col, freqs, item.freq) ? 'even' : 'odd'">
        <td ng-if="isAuthenticated()">
            <md-icon class="material-icons" ng-click="editLog(item)" aria-label="Edit">edit</md-icon>
        </td>
        <td>{{item.freq | number : 1}}{{item.pol}}</td>
        <td class="left">
            <a ng-href="station/{{item.station}}">{{item.station}}</a>
        </td>
        <td ng-if="state.current.name != 'transmitter'" class="left">
            <span ng-class="{'bold': (item.itu != 'POL')}">{{item.itu}}</span>
            <a ng-href="transmitter/{{item._id}}">{{item.transmitter}}</a>
        </td>
        <td hide-xs class="rds">{{item.ps}}</td>
        <td hide-xs class="rds">{{item.pi}}</td>
        <td hide-xs class="right">{{item.pmax | number : 2}}</td>
        <td ng-if="state.current.name != 'transmitter'" class="right" ng-class="{'bold': item.qrb > 700}">{{item.qrb}}</td>
        <td>{{item.firstLog | date:'yyyy-MM-dd'}}</td>
        <td>{{item.mode}}</td>
        <td flex layout="row" layout-align="center center">
            <span ng-if="item.comment">
                <md-tooltip style="color:white; font-size:18px;">{{item.comment}}</md-tooltip>
                <i class="material-icons">info_outline</i>
            </span>
            <a href="#" ng-if="item.audio" ng-click="playAudio(item.audio)">
                <i class="material-icons">play_circle_outline</i>
            </a>
        </td>
    </tr>
</table>

<div ng-if="windowWidth < 640">
    <md-card>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in stations | orderBy:'freq'">
                <span class="md-avatar" style="align-self: center;">{{item.freq}}</span>
                <div class="md-list-item-text">
                    <h4>
                        <a ng-href="station/{{item.station}}">{{item.station}}</a>
                    </h4>
                    <p>
                        <span ng-class="{'bold': (item.itu != 'POL')}">{{item.itu}}</span>
                        <a ng-href="transmitter/{{item._id}}">{{item.transmitter}}</a>
                    </p>
                    <p>
                        <span ng-if="item.ps" class="rds">{{item.ps}},
                            {{item.pi}}</span>
                        {{item.pmax | number:2}}kW,
                        <span ng-class="{'bold': item.qrb > 700}">{{item.qrb}}km</span><br>{{item.firstLog | date:'yyyy-MM-dd'}}
                        {{item.mode}}</p>
                </div>
                <md-divider md-inset ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card>
</div>
