<div layout="row" layout-align="center center">
    <span>Select country: </span>
    <md-input-container>
        <md-select ng-model="selectedItu" ng-change="userlistGet(selectedItu)">
            <md-option ng-repeat="a in itus" ng-value="a._id">
                {{a._id}}
            </md-option>
        </md-select>
    </md-input-container>
    <span> or <md-button class="md-primary" ng-click="addLog({})">add log manually</md-button></span>
</div>

<div ng-show="selectedItu" id="transmap">

</div>

<table ng-if="lista" class="table">
    <thead>
        <td></td>
        <td><input type="number" placeholder="Freq" style="width:4em;" ng-model="search.freq" ng-model-options="{ debounce: 250 }" ng-change="searchEvt()"></td>
        <td><input type="text" placeholder="Station" ng-model="search.station" ng-model-options="{ debounce: 250 }" ng-change="searchEvt()"></td>
        <td><input type="text" placeholder="Transmitter" ng-model="search.transmitter" ng-model-options="{ debounce: 250 }" ng-change="searchEvt()"></td>
        <td>PI</td>
        <td>Pmax</td>
        <td>QRB</td>
    </thead>
    <tr class="even" ng-repeat="item in filterList | orderBy:'freq' | startFrom: (currentPage - 1) * pageSize  | limitTo:pageSize track by item.fmscanId">
        <td>
            <a ng-click="addLog(item)">
                <md-icon class="material-icons" aria-label="Add log">add</md-icon>
            </a>
        </td>
        <td ng-if="item.freq >= 87.5">{{::item.freq | number : 1}}{{::item.pol}}</td>
        <td ng-if="item.freq < 87.5">{{::item.freq | number : 2}}{{::item.pol}}</td>
        <td class="left">
            <a ng-href="station/{{item.station}}">{{::item.station}}</a>
        </td>
        <td class="left">
            <span ng-class="{'bold': (item.itu != 'POL')}">{{::item.itu}}</span>
            <span>{{::item.transmitter}}</span>
        </td>
        <td class="rds">{{::item.pi}}</td>
        <td class="right">{{::item.pmax | round:0.01:'up' | number : 2}}</td>
        <td class="right">{{::item.qrb}}</td>
    </tr>
</table>
