<div class="container">
  <div ng-if="messages.error" role="alert" class="text-danger">
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
  </div>
  <div ng-if="messages.success" role="alert" class="text-success">
    <div ng-repeat="success in messages.success">{{success.msg}}</div>
  </div>

  <h4>Profile Information</h4>

  <form ng-submit="updateProfile()">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" ng-model="profile.email">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" ng-model="profile.name">

    <br>
    <button type="submit">Update Profile</button>
  </form>

  <h4>Change Password</h4>

  <form ng-submit="changePassword()">
    <label for="password">New Password</label>
    <input type="password" name="password" id="password" ng-model="profile.password">
    <label for="confirm">Confirm Password</label>
    <input type="password" name="confirm" id="confirm" ng-model="profile.confirm">
    <br>
    <button type="submit">Change Password</button>
  </form>

</div>

<p><a href="/">return</a></p>
