<md-toolbar class="md-toolbar-tools">
    <md-button href="/" ng-if="!topBar.isActive('/')" class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons" aria-label="Edit">arrow_back</md-icon>
    </md-button>
    <h2>FM DX Tropo Log</h2>
    <span flex></span>
		<md-button ng-if="!topBar.isAuthenticated()" href="/login" class="md-icon-button" aria-label="Log in">
        <md-tooltip>
            Log in
        </md-tooltip>
        <md-icon class="material-icons">account_circle</md-icon>
    </md-button>
    <md-button ng-if="topBar.isAuthenticated()" href="/userlist-browser" class="md-icon-button" aria-label="New log">
        <md-tooltip>
            New log
        </md-tooltip>
        <md-icon class="material-icons">add</md-icon>
    </md-button>
    <md-menu ng-if="topBar.isAuthenticated()" md-position-mode="target-right target">
        <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="New log">
            <md-icon class="material-icons">account_circle</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ui-sref="profile">
                    <md-icon class="material-icons">account_circle</md-icon>
                    <span>My account</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="topBar.logout()">
                    <md-icon class="material-icons">exit_to_app</md-icon>
                    <!-- <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon> -->
                    <span>Logout</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-toolbar>
